# htmls
*.html

# txt
*.txt

# Exception on ingore
!notIgnoreThis.txt
!git_commands.txt
!cmd_commands.txt

# Folder ignore
logs
logs/   # Only the contents

# Specify the location
logs/*.c
logs/**/debug.log   #   Any


